ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 1em;
  color: white;
}

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

#logo {
  width: 1em;
}